<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致 -->
<mapper namespace="com.dao.mybatis.BaseMapper">
 
    
    <sql id="selectWords">
         id,  name, nvl2(time, to_char(time,'yyyy-mm-dd hh24:mi:ss'), '') time
    </sql>
    
	<insert id="add" parameterType="java.util.Map">
        insert into student 
        (id, name, time)
        values 
        ( SEQ_STUDENT.nextval,#{name}, to_date(#{time},'yyyy-mm-dd hh24:mi:ss') )
    </insert>

	<select id="find" resultType="java.util.Map" parameterType="java.util.Map" >
			
		<!-- and pagestart != '' 识别为整数？ -->
        <if test="pagestart != null and pagestop != null and pagestop != ''  ">
			select * from ( select t.*,rownum rr from ( 
		</if>   
	
	
		select   
		<!-- id,name,time  -->
		<include refid="selectWords"></include> 
		from student 
	  	where 1=1  
        <if test="id != null and id != '' ">
            and id like  #{id} 
        </if> 
        <if test="name != null and name != '' ">
            and  name like  #{name}
        </if>
        <if test="timefrom != null and timefrom != '' ">
            and time >= to_date( #{timefrom} ,'yyyy-mm-dd hh24:mi:ss') 
        </if>
        <if test="timeto != null and timeto != '' ">
            and time &lt;= to_date( #{timeto} ,'yyyy-mm-dd hh24:mi:ss') 
        </if>   
        <if test="ids != null and ids != '' ">
            and  id in
              <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
       			 #{item}
   			  </foreach>
        </if>
        <if test="order != null and order != '' ">
            order by ${order} <!-- 必须$不转义字符串替换 -->
        </if>   
        
        <if test="pagestart != null and pagestop != null and pagestop != ''  ">
       	 	) t   ) where rr > #{pagestart}  and  rr  &lt;= #{pagestop}
		</if>
     
	</select>
   <select id="count" resultType="long" parameterType="java.util.Map" >
		select   count(*) cc  from student  	where 1=1  
        <if test="id != null and id != '' ">
            and id like  #{id} 
        </if> 
        <if test="name != null and name != '' ">
            and  name like  #{name}
        </if>
         <if test="timefrom != null and timefrom != '' ">
            and time >= to_date( #{timefrom} ,'yyyy-mm-dd hh24:mi:ss') 
        </if>
       <if test="timeto != null and timeto != '' ">
            and time &lt;= to_date( #{timeto} ,'yyyy-mm-dd hh24:mi:ss') 
        </if>   
        <if test="ids != null and ids != '' ">
            and  id in
              <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
       			 #{item}
   			  </foreach>
        </if>  
	</select>
	
	<update id="update" parameterType="java.util.Map">
		update  student
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">
           		name=#{name},
            </if>
            <if test="time != null">
            	time=to_date(#{time},'yyyy-mm-dd hh24:mi:ss'),
            </if>
        </trim>
        where id = #{id}
    </update>

	<delete id="delete" parameterType="java.util.Map">
		delete from  student
        where id = #{id}
    </delete>
	


</mapper>  