<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
 
<configuration>
	<settings>  
	  <setting name="cacheEnabled" value="true"/>
	  <setting name="lazyLoadingEnabled" value="true"/>
	  <setting name="multipleResultSetsEnabled" value="true"/>
	  <setting name="useColumnLabel" value="true"/>
	  <setting name="useGeneratedKeys" value="false"/>
	  <setting name="autoMappingBehavior" value="PARTIAL"/>
	  <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
	  <setting name="defaultExecutorType" value="SIMPLE"/>
	  <setting name="defaultStatementTimeout" value="25"/>
	  <setting name="defaultFetchSize" value="100"/>
	  <setting name="safeRowBoundsEnabled" value="false"/>
	  <setting name="mapUnderscoreToCamelCase" value="false"/>
	  <setting name="localCacheScope" value="SESSION"/>
	  <setting name="jdbcTypeForNull" value="OTHER"/>
	  <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
	  
	  <setting name="callSettersOnNulls" value="true"/>  <!-- 有用(⊙﹏⊙) -->
      <setting name="logImpl" value="LOG4J"/>  
    </settings>  
	<!-- 全局setting配置 ，根据需要再添加 -->

	<!-- 配置别名 -->
	<typeAliases> 
		<package name="com.mode" />
	</typeAliases>

	<!-- 配置mapper 由于使用spring和mybatis的整合包进行整合，这了无需配置 但必须遵循：mapper.xml和mapper.xml文件同名且在同一目录 -->

	<!-- 以下内容不再需要手动配置 已经自动映射 -->
	<mappers>
		<!-- <mapper resource="com/gfan/api/framework/model/sqlMapper/TestuserMapper.xml"  /> -->
	</mappers>

	

</configuration>
