<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/jdbc
	http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
	http://www.springframework.org/schema/cache
	http://www.springframework.org/schema/cache/spring-cache.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd">
	
	<!-- 导入配置文件 -->
	
	<!-- 导入启动dubbo 异常影响整个项目启动 -->
<!-- <import resource="dubbo-provider.xml" />  -->	

	<!-- 自动扫描 包 ,将带有注解的类 纳入spring容器管理 -->
	<context:component-scan base-package="com.dao,com.mode,com.service,com.event"></context:component-scan>

	<!-- 引入配置文件 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<!-- <value>classpath*:jdbc.properties</value> -->
				<value>classpath*:*.properties</value>
			</list>
		</property>
	</bean>


	<!-- 数据源 --> 
	<!--================================================-->
	<!-- 配置数据源,dbcp,c3p0 jdbc配置文件 主要针对于一套配置 适配多种连接池工具 映射 -->
	<!-- com.mchange.v2.c3p0.ComboPooledDataSource org.apache.commons.dbcp.BasicDataSource -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"   destroy-method="close">
		<!-- 基本属性 url、user、password -->
		<property name="driverClassName" value="${jdbc.oracle.DriverClass}"/>
		<property name="url" value="${jdbc.oracle.JdbcUrl}"/>
		<property name="username" value="${jdbc.oracle.User}"/>
		<property name="password" value="${jdbc.oracle.Password}"/>
		<!-- 配置初始化大小、最小、最大 -->
		<property name="initialSize" value="${ds.initialSize}"/>
		<property name="minIdle" value="${ds.minIdle}"/>
		<property name="maxActive" value="${ds.maxActive}"/>
		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="${ds.maxWait}"/> 
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="${ds.timeBetweenEvictionRunsMillis}"/>
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="${ds.minEvictableIdleTimeMillis}"/>
		<property name="testWhileIdle" value="true"/>
		<property name="testOnBorrow" value="false"/>
		<property name="testOnReturn" value="false"/>
		<property name="validationQuery" value="select 1 from dual"  />
 
	</bean>
 
 
	<!-- mybatis --> 
	<!--================================================-->
	<!-- myBatis 引入配置文件 配置dao实现mapper路径 配置MyBatis数据源 sqlSessionFactory-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"    > 
		<!-- <bean id="sqlSessionFactory" class="com.frame.MySqlSessionFactoryBean"    >-->
		<property name="dataSource" ref="dataSource" />
		<!-- 指定配置文件 -->
		<property name="configLocation" value="classpath:mybatis-config.xml"/> 
		<!-- 配置扫描  dao接口实现的 配置文件mapper.xml -->
		<property name="mapperLocations" value="classpath:com/dao/mybatis/mapper/*.xml" />
		<property name="typeAliasesPackage" value="com.dao.mode"></property>
	</bean>
	<!-- 配置mybatis dao 接口 java文件 路径 , 另外必须让mapper.xml文件中接口路径对应接口类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.dao.mybatis" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
 
 
	<!-- Hibernate --> 
	<!--================================================-->
   
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!--   <property name="packagesToScan">
				<list>
					<value>com.mode</value>
				</list>
			</property> -->
		<property name="mappingLocations">
			<list>
				<value>classpath*:com/**/*.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.use_sql_comments">${hibernate.use_sql_comments}</prop>
				<prop key="hibernate.max_fetch_depth">${hibernate.max_fetch_depth}</prop>
				<prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
				<prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>
			</props>
		</property>
	</bean>
 
	<!-- 事务管理  --> 
	<!--================================================-->
	<!-- 对dataSource 数据源进行事务管理  共用数据源 共用事务管理 -->
	<!--  <bean id="transactionManager" 
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource"/> -->
	<!-- Hibernate事务管理器的配置，Mybatis也依托该管理器进行事务管理 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
    
	<!-- 事务管理 通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 对insert,update,delete 开头的方法进行事务管理,只要有异常就回滚 -->
			<tx:method name="insert*" propagation="REQUIRED" rollback-for="java.lang.Throwable"/>
			<tx:method name="update*" propagation="REQUIRED" rollback-for="java.lang.Throwable"/>
			<tx:method name="delete*" propagation="REQUIRED" rollback-for="java.lang.Throwable"/>
			<!-- select,count开头的方法,开启只读,提高数据库访问性能 -->
			<tx:method name="select*" read-only="true"/>
			<tx:method name="count*" read-only="true"/>
			<!-- 对其他方法 使用默认的事务管理 -->
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>

	<!-- 事务 aop 配置 -->
	<aop:config>
		<aop:pointcut id="serviceMethods" expression="execution(* com.service..*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods"/>
	</aop:config>

	<!-- 配置使Spring采用CGLIB代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true"/>

	<!-- 启用对事务注解的支持 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>

	<!-- Cache配置 -->
	<!--
		<cache:annotation-driven cache-manager="cacheManager"/>
		<bean id="ehCacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
			  p:configLocation="classpath:ehcache.xml"/>
		<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager"
			  p:cacheManager-ref="ehCacheManagerFactory"/> 
			  -->
</beans>
